<header class="header">
	<div class="container">
		<button class="nav-opener js-nav-opener">
			<span></span>
		</button>
		<div class="nav-holder">
			<nav class="nav">
				<ul class="nav__list">
					<li class="nav__item">
						<a class="nav-link" href="../for-men.html">For men</a>
					</li>
					<li class="nav__item">
						<a class="nav-link" href="#">For ladies</a>
					</li>
					<li class="nav__item">
						<a class="nav-link" href="../about.html">About us</a>
					</li>
					<li class="nav__item">
						<a class="nav-link" href="../services.html">Services</a>
					</li>
					<li class="nav__item">
						<a class="nav-link" href="../blog.html">Blog</a>
					</li>
					<li class="nav__item">
						<a class="nav-link" href="../reviews.html">Reviews</a>
					</li>
					<li class="nav__item">
						<a class="nav-link" href="#">Contacts</a>
					</li>
				</ul>
			</nav>
		</div>
		<div class="logo">
			<a href="index.html" class="logo">
				<img src="./assets/img/logo.png" class="img-fluid" alt="logo">
				<span>Luxury Development</span>
			</a>
		</div>
		<div class="lang-box">
			<ul class="language-list">
				<li class="language-item active"><a href="#">EN</a></li>
				<li class="language-item"><a href="#">EL</a></li>
			</ul>
			<a href="#" class="btn primary-btn">Request a Consultation</a>
		</div>
	</div>
</header>
